@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


h1, h2, h3, h4, h5, h6, span{
  font-family: "Nunito";
}
::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

html{
  scroll-behavior: smooth;
}

